<div>
  <div class="hidden panel savedSearchesPanel">
    <h3>Saved queries</h3>
    <div class="savedSearchesList"></div>
  </div>
  <div x-b="tagsPanel" class="hidden floatLeft panel">
    <h3>Tags</h3>
    <div x-lb="allExistingTags">
      <history-tag>
    </div>
  </div>
  <div class="floatLeft settingsPanel panel">
    <h3>Settings</h3>
    <form class="form">
      <div>
        <span class="option-name">Page size</span>
        <input type='number' x-b="pageSize" />
      </div>
      <div>
        <span class="option-name">Color scheme</span>
        
          <select x-lb="colorSchemes" />
            <option x-b="option">
          </select>
        
      </div>
      <div>
        <span class="option-name">Recently visited pages</span>
        <input type='number' x-b="visitedPagesLength" />
      </div>
    </form>
    <button x-b="saveButton">Save</button>
    <button x-b="defaultsButton">Defaults</button>
  </div>
</div>
