body {
  font-size: 14px;
  font-family: sans-serif;
  margin-top: 0;
  margin: 20px 40px;
}

table {
  border-collapse: collapse;
  margin-bottom: 20px
}

table, th, td {
  padding: 8px 14px;
}

.option-name {
  text-align: right;
}

.defaults {
  margin-top: 10px;
  width: 80px;
}

br {
  margin-bottom: 5px;
}

button {
  background: none;
  font-size: 20;
  line-height: 1.5;
  color: black;
  border: 2px solid black;
}

button:hover {
  border-color: #0040ff;
  background-color: transparent;
  color: #0040ff;
}

h1 {
  font-size: 36px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

h3 {
  font-size: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.howUse {
  cursor: pointer;
  font-size: 16px;
  padding: 6px 15px;
  margin-top: 20px;
  margin-left: 15px;
}

table {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 16px;
}

th {
  text-align: left;
}

th, td {
  padding: 10px;
  font-size: 18px;
}

input {
  border: none;
  border-bottom: 2px solid black;
  font-size: 18px;
  line-height: 1.3;
  width: 200px;
}

select {
  font-size: 18px;
}

input:focus {
  border-bottom-color: #0040ff;
  outline: none;
}

.excludeInput {
  width: 150px;
}

.dateInput {
  width: 140px;
}

.bigButton {
  font-size: 22px;
  padding: 7px 40px;
  vertical-align: bottom;
  cursor: pointer;
}

.savedSearchContainer {
  display: flex;
  align-items: end;
  margin-bottom: 20px;
}

.savedSearch {
  border-top: none;
  border-left: none;
  border-right: none;
  cursor: pointer;
  font-size: 16px;
  margin-right: 16px;
}

.remove {
  font-size: 12px !important;
}

.remove:hover {
  color: #dc0000;
  border-color: #dc0000;
}